@model List<eProject3.Models.CartItem>

<div class="cart box_1">
    <a href="/Home/HistoryPayment" class="nav-link" style="color: #702428;">Lịch sử mua hàng</a>

    <a href="">
        <h3>
            <div class="total">
                <a href="/Cart/Index" style="color: #702428;"><span>@Model.Count</span> sản phẩm</a>
            </div>
            <a href="/Cart/Index"><img src="~/Content/Client/images/cart-1.png" alt="" /></a>
        </h3>
    </a>
    <div class="clearfix"> </div>
</div>
